@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitter&family=Lato:wght@400;700&display=swap');
/* font-family: 'Bebas Neue', cursive;
font-family: 'Bitter', serif;
font-family: 'Lato', sans-serif; */

:root{
    --pr-color: #179BE5;
    --sec-color: #262626;
}
body{
    font-family: 'Lato', sans-serif;
    background-color: #f0f0f0;
}

/* NAVBAR */
.nav-social{
    background-color: #f0f0f0;
    padding: 0.7em 0;
    transition: 0.3s ease;
}

.social-ul{
    flex-direction: row;
}
.social-ul .nav-item{
    padding: 0 0.5em;
}
.social-ul .nav-item .nav-link i{
    font-size: 2em;
    margin: 0 0.3em;
    color: var(--pr-color);
}

.nav-social .btn-client{
    background-color: var(--pr-color);
    padding: 0.5em 1em;
    border-radius: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: #f0f0f0;
}
.nav-social .btn-client span{
    padding-right: 1em;
}

.navbar-dark .navbar-toggler-icon{
    background-image: url('../img/svg/menu.svg');
    width: 2em; 
    height: 2em;
}
.navbar-links{
    padding: 0;
    background-color: var(--sec-color);
    transition: 0.3s ease;
}
.links-ul .nav-item .nav-link{
    font-size: 1.2em;
    color: #f0f0f0;
    padding: 0.5em 1em;
}
.links-ul .nav-item .nav-link:hover{
    border-bottom: 3px solid var(--pr-color);
}

/* SLIDER */
.carousel-item img{
    height: 75vh;
    object-fit: cover;
}
.carousel-header{
    text-align: left;
    bottom: auto;
    top: 40%;
    transform: translateY(-60%);
}
.carousel-header .carousel-main-title{
    font-size: 9em;
    font-family: 'Bebas Neue', 'Lato', sans-serif;
    letter-spacing: 0.05em;
    font-weight: 400;
    margin-bottom: -0.25em;
    transition: 0.2s ease-in;
}
.carousel-header:hover .carousel-main-title{
    color: var(--pr-color);
}

.carousel-header .carousel-sub-title{
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 1.5em;
}
.carousel-header .btn{
    background-color: var(--pr-color);
    padding: 0.3em 1.2em;
    font-size: 1.5em;
    border-radius: 35px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-weight: 800;
    color: #f0f0f0;
}
.carousel-inner .carousel-waves img{
    position: absolute;
    bottom: -5px;
    right: 0;
    left: 0;
    height: auto;
    width: 100%;
}
/* MEDIA FOR - MD -  */
@media only screen and (max-width:991px){
    .carousel-header h1.carousel-main-title{
        font-size: 7em;
    }
}
/* MEDIA FOR - SM -  */
@media only screen and (max-width:767px){
    .navbar-logo-img img{
        height: 75px;
    }
}
/* MEDIA FOR - XSM -  */
@media only screen and (max-width: 375px){
    .navbar-logo-img img{
        height: 50px;
    }
    .navbar-dark .navbar-toggler-icon{
        width: 1.5em; 
        height: 1.5em;
    }
}